<% provide(:title, 'Home') %>
<div id="container">
<div id="topHalf">
<h1>Our Wedding</h1>


<%= image_tag("home_page_her_and_me.jpg", id: "mainImage", alt: "Her and me", class: "lifted") %>
</div>

<div id="bottomHalf">

<div id="box_wrapper">
<div id="wish_box">
</div>
</div>

<nav>
<ul>
<li><%= link_to "Our Story", story_path, id: "clickableDiv", class: "drop-shadow lifted" %></li>
<li><%= link_to "Invitation", invite_path, id: "clickableDiv", class: "drop-shadow lifted" %></li>
<li><%= link_to "Wishes", wish_path, id: "clickableDiv", class: "drop-shadow lifted" %></li>
</ul>
</nav>
<div id="hidden_text">

</div

</div>

</div>
