<% provide(:title, "Home") %>
<div id="container">
<div id="topHalf">

<%= image_tag("her_and_me.png", id: "mainImage", alt: "Her and me", class: "lifted") %>
<div id="wish_box"></div>

</div>

<div id="bottomHalf">

<div id="verse-2" >
<h2>"For I know the thoughts that I think toward you, says the Lord, thoughts of peace and not of evil, to give you a future and a hope."
- Jer 29:11</h2>
</div>

<div id="hidden_text"></div>

</div>

</div>
