<% provide(:title, "Home") %>
<div id="container">
<div id="topHalf">
<h1>Our Wedding</h1>


<div id="main_image_wrapper" class="red_fade">
<%= image_tag("her_and_me.png", id: "mainImage", alt: "Her and me", class: "lifted") %>
</div>
</div>

<div id="bottomHalf">

<div id="wish_box" class="red_fade"></div>


<div id="hidden_text"></div>

</div>

</div>
