<% provide(:title, "Home") %>
<div id="container">
<div id="topHalf">

<%= image_tag("her_and_me.png", id: "mainImage", alt: "Her and me", class: "lifted") %>
<div id="wish_box"></div>

</div>

<div id="bottomHalf">

<div id="hidden_text"></div>

</div>

</div>
