<div id="container">
<div id="topHalf">
<h1>Joshua and Steffie</h1>
<%= image_tag("home_page_her_and_me.jpg", id: "mainImage", alt: "Her and me", class: "lifted") %>
</div>

<div id="bottomHalf">
<nav>
<ul>
<li id="clickableDiv" class="drop-shadow lifted"><a>img1</a></li>
<li id="clickableDiv" class="rightShadow"><a>img1</a></li>
<li id="clickableDiv" class="rightShadow"><a>img1</a></li>
</ul>
</nav>
</div>

</div>
