<% provide(:title, "Home") %>
<div id="container">
<div id="topHalf">
<h1>Our Wedding</h1>


<%= image_tag("home_page_her_and_me.jpg", id: "mainImage", alt: "Her and me", class: "lifted") %>
</div>

<div id="bottomHalf">

<div id="wish_box" class="red_fade"></div>


<div id="hidden_text"></div>

</div>

</div>
