<% provide(:title, "Invitation") %>


<div id="gallery">
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_ma_and_paa.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/maa_and_paa.JPG" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_everyone.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/everyone.JPG" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_us.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/just_us.JPG" %>
<%= link_to (image_tag("https://s3-us-west-2.amazonaws.com/josteffgallery/thumb_with_becky.jpg")), "https://s3-us-west-2.amazonaws.com/josteffgallery/with_becky.JPG" %>
</div>

