<% provide(:title, "Live") %>

<div id="container">
<div id="verse-2">
<h2>Thank you for your interest in wanting to be a part of our big day. Please check this space for more details about live streaming of the wedding.</h2<>
<h4>4th January 2014 at 5.30 p.m. IST</h4>
</div>
</div>
