<% provide(:title, "Our Story") %>

<div id="container">
<div id="story">
<h4>… Because the love of God has been poured out in our hearts …<br />
-	Romans  5:5(Bible)<br /><br />
We firmly believe that God the Grand Weaver has woven the threads of our lives together with the golden strands of marriage. As we are united in the 
bond of marriage we can’t help but be amazed at our Heavenly Father’s intricate design in making our lives one. But what amazes us 
even more everyday is the saving grace of God that has made fallen creatures like us His children. The Bible says that everyone in 
this world is ‘dead to God in their sin’ and yet God loved the world enough to send His one and only Son the Lord Jesus to die 
for our sin. Faith in Him alone will relieve you from the guilt and consequence of sin and make you ‘alive to God’. We are extremely 
grateful to God that He has helped us realize this in our lives and we extend this invitation to you to accept the Lord Jesus as your 
Saviour today.
</h4>
</div>
</div>
<div id="verse-2" >
<h4>"As for God, His way is perfect;<br>The word of the Lord is proven;<br>
He is a shield to all who trust in Him.<br> - Psalm 18:30</h4>
</div>
