<% provide(:title, "Our Story") %>

<div id="container">
<%= image_tag("under-construction-clipped.png", id: "coming_soon") %>
</div>
<h2>Please check back soon for an update!</h2>
<div id="verse-2" >
<h4>"As for God, His way is perfect;<br>The word of the Lord is proven;<br>
He is a shield to all who trust in Him.<br> - Psalm 18:30</h4>
</div>
