
<h1>pagination page</h1>
<% @guests.each do |guest| %>
	<% guest.attributes.each_pair do |name, value| %>
		<h3><%= name %>, <%= value %></h3>
	<% end %>
<% end %>
<%= will_paginate @guests %>