// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



html { 
  background: asset-url('silver-and-red.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
body {
background:#dcbcf8;
background-image:url('images/crump_paper.gif');
background-repeat:repeat;
}
*/


#container {
width:1060px;
height:900px;
margin-left:auto;
margin-right:auto;
}

#container ul {
list-style-type: none;
}


#topHalf {

}

#topHalf h1 {
text-align:center;
font-family: 'Engagement', cursive;
font-size:100px;
color:#6d0019;
margin-top: 10px;
margin-bottom: 30px;
}

#topHalf img {
 display:block;
 margin-left: auto;
 margin-right:auto;
}

#mainImage {
margin-top:10px;
margin-bottom:50px;
}

#wish_box {
 /*background: #CC527A;*/
 width: 50%;
 margin: 0 auto;
 /*margin-top: 40px;*/
 position: relative;
 vertical-align: middle;
 text-align: center;
 display: table;
 /*width: 100px;*/
 /*height: 50px;*/
 /*background: #CC527A;*/
 font-family: 'Maiden Orange', cursive;
 color: #C6C6C6;
 /*z-index: 10;
 opacity: 1;*/
 border-radius: 15px;
}

#wish_box h1 {
margin: 10px;
display: table-cell;
vertical-align: top;
}

.red_fade {
background: #a90329; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
background: linear-gradient(135deg,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


#note {
	color: red;
	font-size: 12px;
	margin: 0 auto;
	padding: 4px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	width: 400px;
}



.rightShadow {
-moz-box-shadow: 5px 5px 5px #888;
-webkit-box-shadow: 5px 5px 5px #888;
box-shadow: 5px 5px 5px #888;
}

#clickableDiv {
/*height: 150px;
width:200px;*/
margin-left:27px;
}


#bottomHalf {
margin-top:100px;
width: 100%;
}

nav ul {
list-style-type:none;
display: inline-block;
}

nav ul li {
float:left;
}

nav {
/*padding-top: 50px;*/
width: 63%;
margin: 0 auto;
}

#countdown {
width: 50%;
margin: 0 auto;
padding-top: 50px;
padding-left: 33px;
}

#hidden_text {
display: none;
}

.timer {
margin-top: 50px;
}

#invitation {
margin-top: 85px;
margin-left: auto;
margin-right: auto;

}

.drop-shadow {
  /* position:relative;
   width:90%;*/
    position:relative;
            width:40%;
            padding:1em;
            margin:2em 10px 4em;
            background:#fff;
            -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
               -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
   /*content:"";
   position:absolute;
   z-index:-1;
   bottom:10px;
   left:10px;
   width:50%;
   height:20%;
   max-width:500px;
   -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   -webkit-transform:rotate(-3deg);
   -moz-transform:rotate(-3deg);
   -o-transform:rotate(-3deg);
   transform:rotate(-3deg);
   */
   content:"";
            z-index:-2;
}

.drop-shadow:after{
   right:10px;
   left:auto;
   -webkit-transform:rotate(3deg);
   -moz-transform:rotate(3deg);
   -o-transform:rotate(3deg);
   transform:rotate(3deg);
 }
 
 .lifted {
            -moz-border-radius:4px;
                 border-radius:4px;
        }

        .lifted:before,
        .lifted:after {
            bottom:15px;
            left:10px;
            width:50%;
            height:20%;
            max-width:300px;
            max-height:100px;
            -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
               -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
                    box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            -webkit-transform:rotate(-3deg);
               -moz-transform:rotate(-3deg);
                -ms-transform:rotate(-3deg);
                 -o-transform:rotate(-3deg);
                    transform:rotate(-3deg);
        }

        .lifted:after {
            right:10px;
            left:auto;
            -webkit-transform:rotate(3deg);
               -moz-transform:rotate(3deg);
                -ms-transform:rotate(3deg);
                 -o-transform:rotate(3deg);
                    transform:rotate(3deg);
        }

