// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



html { 
  background: asset-url('silver-and-red.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
body {
background:#dcbcf8;
background-image:url('images/crump_paper.gif');
background-repeat:repeat;
}
*/


#container {
width:1060px;
height:1200px;
margin-left:auto;
margin-right:auto;
}

#container ul {
list-style-type: none;
}


#topHalf {

}

#topHalf h1 {
text-align:center;
font-family: 'Engagement', cursive;
font-size:100px;
color:#9F5F9F;
margin-top: 10px;
margin-bottom: 30px;
}

#topHalf img {
 display:block;
 margin-left: auto;
 margin-right:auto;
}

#mainImage {
margin-top:10px;
margin-bottom:50px;
}

#wish_box {
 /*background: #CC527A;*/
 /*margin-left:auto;
 margin-right: auto;*/
 /*margin-top: 40px;*/
 position: relative;
 /*margin-top: -21px;*/
 width: 50%;
 margin: 0 auto;
 height: 100px;
 /*z-index: 10;
 opacity: 0.7;*/
}

#box_wrapper {
height: 100px;
width: 90%;
margin: 0 auto;
background: gold;

-moz-border-radius: 15px;
border-radius: 15px;
}

#note{
	color: #666666;
	font-size: 12px;
	margin: 0 auto;
	padding: 4px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	width: 400px;
}



.rightShadow {
-moz-box-shadow: 5px 5px 5px #888;
-webkit-box-shadow: 5px 5px 5px #888;
box-shadow: 5px 5px 5px #888;
}

#clickableDiv {
height: 150px;
width:200px;
margin-left:27px;
}


#bottomHalf {
margin-top:100px;
}

#bottomHalf ul {
list-style-type:none;
display: inline-block;
}

#bottomHalf ul li {
float:left;
}

#bottomHalf nav {
margin-top: 200px;
margin-left: 280px;
}

#hidden_text {
display: none;
}



.drop-shadow {
  /* position:relative;
   width:90%;*/
    position:relative;
            width:40%;
            padding:1em;
            margin:2em 10px 4em;
            background:#fff;
            -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
               -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
   /*content:"";
   position:absolute;
   z-index:-1;
   bottom:10px;
   left:10px;
   width:50%;
   height:20%;
   max-width:500px;
   -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   -webkit-transform:rotate(-3deg);
   -moz-transform:rotate(-3deg);
   -o-transform:rotate(-3deg);
   transform:rotate(-3deg);
   */
   content:"";
            z-index:-2;
}

.drop-shadow:after{
   right:10px;
   left:auto;
   -webkit-transform:rotate(3deg);
   -moz-transform:rotate(3deg);
   -o-transform:rotate(3deg);
   transform:rotate(3deg);
 }
 
 .lifted {
            -moz-border-radius:4px;
                 border-radius:4px;
        }

        .lifted:before,
        .lifted:after {
            bottom:15px;
            left:10px;
            width:50%;
            height:20%;
            max-width:300px;
            max-height:100px;
            -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
               -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
                    box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            -webkit-transform:rotate(-3deg);
               -moz-transform:rotate(-3deg);
                -ms-transform:rotate(-3deg);
                 -o-transform:rotate(-3deg);
                    transform:rotate(-3deg);
        }

        .lifted:after {
            right:10px;
            left:auto;
            -webkit-transform:rotate(3deg);
               -moz-transform:rotate(3deg);
                -ms-transform:rotate(3deg);
                 -o-transform:rotate(3deg);
                    transform:rotate(3deg);
        }

