// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



html { 
  background: asset-url('silver-and-red.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#container {
width:1060px;
margin-left:auto;
margin-right:auto;
}

#container ul {
list-style-type: none;
}



h1 {
text-align:center;
font-family: 'Engagement', cursive;
font-size:100px;
color:#6d0019;
margin-top: 10px;
padding-top: 20px;
margin-bottom: 30px;
clear: both;
}


#mainImage {
margin-top:10px;
margin-bottom:50px;
display: inline;
float: right;
}

#wish_box {
 /*background: #CC527A;*/
 font-family: 'Maiden Orange', cursive; 
 color:#6d0019;
 /*margin-top: 40px;*/
 
 float: left;
 display: inline;
 margin-top: 80px;
 margin-left: 210px;
 position: absolute;
 
 width: 200px;
 z-index: 5;
}


#wish_box h4{
font-size: 25px;
margin: 10px;
display: table-cell;
vertical-align: top;
}

#topHalf {
overflow: hidden;
}

.red_fade {
background: #a90329; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
background: linear-gradient(135deg,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


#note {
	color: red;
	font-size: 12px;
	margin: 0 auto;
	padding: 4px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	width: 400px;
}



#bottomHalf {
margin-top:10px;
width: 100%;
}

nav ul {
list-style-type:none;

}

nav ul li {
float:left;
}

nav {
display: inline-block;
float: left;
font-family: 'Maiden Orange', cursive; 
font-size: 22px;
z-index: 5;
padding-right: 10px;

}

.main-nav-link {
padding: 3px 5px 3px;
border-radius: 3px;
background: #FF8566;
margin-left: 5px;
color: 	#FFFFFF;
}

/*
nav a:hover {
Transition
-webkit-transition: all 0.5s ease; 
-moz-transition: all 0.5s ease; 
-o-transition: all 0.5s ease; 
Reflection
-webkit-box-reflect: below 0px 
-webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1))); 

}
*/
nav a:hover { 
 color: #FF4719;
}

.silver-fade {
background: -moz-linear-gradient(left,  rgba(183,30,16,1) 0%, rgba(181,54,43,1) 39%, rgba(179,66,57,1) 57%, rgba(178,78,71,0.86) 74%, rgba(179,72,65,0.81) 80%, rgba(181,54,43,0.93) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(183,30,16,1)), color-stop(39%,rgba(181,54,43,1)), color-stop(57%,rgba(179,66,57,1)), color-stop(74%,rgba(178,78,71,0.86)), color-stop(80%,rgba(179,72,65,0.81)), color-stop(100%,rgba(181,54,43,0.93))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(183,30,16,1) 0%,rgba(181,54,43,1) 39%,rgba(179,66,57,1) 57%,rgba(178,78,71,0.86) 74%,rgba(179,72,65,0.81) 80%,rgba(181,54,43,0.93) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(183,30,16,1) 0%,rgba(181,54,43,1) 39%,rgba(179,66,57,1) 57%,rgba(178,78,71,0.86) 74%,rgba(179,72,65,0.81) 80%,rgba(181,54,43,0.93) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(183,30,16,1) 0%,rgba(181,54,43,1) 39%,rgba(179,66,57,1) 57%,rgba(178,78,71,0.86) 74%,rgba(179,72,65,0.81) 80%,rgba(181,54,43,0.93) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(183,30,16,1) 0%,rgba(181,54,43,1) 39%,rgba(179,66,57,1) 57%,rgba(178,78,71,0.86) 74%,rgba(179,72,65,0.81) 80%,rgba(181,54,43,0.93) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71e10', endColorstr='#edb5362b',GradientType=1 ); /* IE6-9 */

}

#admin-nav {
display: inline-block;
float: right;
margin-right: 15px;
padding-top: 11px;
font-family: 'Maiden Orange', cursive; 
font-size: 18px;
font-weight: bold;
color: 	#FFFFFF;
}

#countdown-package{
clear:both;
width: 50%;
margin: 0 auto;
padding-top: 50px;
padding-left: 33px;
}

#force-note {
clear:both;
width: 60%;
margin: 0 auto;
font-family: 'Maiden Orange', cursive; 
color:#6d0019;
}

#force-note h4 {
display: inline;
margin: 20px 0px 0px 20px;
padding: 2px 18px 2px;
}

#hidden_text {
display: none;
}

.timer {
margin-top: 50px;
}

#invitation-wrapper {
margin-top: 85px;
margin-left: auto;
margin-right: auto;
padding-left: 133px;

}



.form_element {
font-weight: bold;
color: #991F00;
display: inline;
}

#message_form_wrapper {
width: 75%;
margin: 0 auto;
padding-left: 110px;
padding-top: 20px;
padding-bottom: 20px;
}

/*
#message_form_wrapper input, textarea {
 outline: none;
 transition: all 0.25s ease-in-out;
 -webkit-transition: all 0.25s ease-in-out;
 -moz-transition: all 0.25s ease-in-out;
 border-radius: 3px;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border: 1px solid rgba(0, 0, 0, 0.2);
 background: transparent;
}


#message_form_wrapper input:focus, textarea:focus {
 box-shadow: 0 0 5px rgba(194, 47, 37, 1);
 -webkit-box-shadow: 0 0 5px rgba(194, 47, 37, 1);
 -moz-box-shadow: 0 0 5px rgba(194, 47, 37, 1);
 border: 1px solid rgba(194, 47, 37, 0.8);
}
*/

#message_form_wrapper input {
 border: none;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 -webkit-box-shadow: 0 0 5px #666 inset;
 -moz-box-shadow: 0 0 5px #666 inset;
 box-shadow: 0 0 5px #666 inset;
 height: 25px;
 line-height: 25px;
 width: 200px;
 text-indent: 5px;
 
}

#message_form_wrapper textarea {
 border: none;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 -webkit-box-shadow: 0 0 5px #666 inset;
 -moz-box-shadow: 0 0 5px #666 inset;
 box-shadow: 0 0 5px #666 inset;
 height: 75px;
 width: 200px;
 text-indent: 5px;
 }
 

 
 #message_form_wrapper input.button {
  width: 100px;
  float: right;
  margin-right: 500px;
 }

#message_form_wrapper h4 {
 padding: 2px 2px 2px;
 margin: 2px 2px 2px;
 font-family: 'Maiden Orange', cursive; 
 font-size: 17px;
 color:#6d0019;
}

#errors {
 display: inline-block;
 float: right;
 margin-right: 180px;
 width: 300px;
 color: #FF6A45;

}

#message_info {
 width: 50%;
 margin: 0 auto;
 padding-bottom: 35px;
}

#message_info h4 {
 font-family: 'Maiden Orange', cursive; 
 font-size: 25px;
 color:#6d0019;
}

#flash {
text-align: center;
width: 50%;
height: 20px;
visibility: hidden;
background: #B8FF70;
opacity: 0.7;
margin-left: auto;
margin-right: auto;
background-radius: 3px;
}


#coming_soon {
margin-left: auto;
margin-right: auto;
}

#coming-soon-message {
margin-left: auto;
margin-right: auto;
}

h2 {
text-align: center;
padding: 10px 0px 10px;
margin: 10px 0px 5px;
font-family: 'Maiden Orange', cursive; 
font-size: 25px;
color:#6d0019;
}


#verse-2 {
clear: both;
width: 50%;
margin: 0 auto;
padding-left: 55px;
}

#verse-2 h4 {
text-align: center;
padding: 10px 0px 10px;
margin: 10px 0px 5px;
font-family: 'Maiden Orange', cursive; 
font-size: 20px;
color:#6d0019;
}

#gallery {
padding-bottom: 35px;
}


.notice {

}


